<button class="btn btn-danger btn-rounded" (click)="getStaff()"> View User</button>
<table class="table ">
    <tr>
    <th scope="col" >#</th>
    <th>name</th>
    <th>username</th>
    <th>status</th>
    </tr>
    <tr *ngFor="let user of users">
        <th scope="row">#</th>
        <td [ngStyle]="{'background-color':'yellow'}">{{ user.name }}</td>
        <td>{{ user.userName }}</td>
        <td><label class="switch">
            <input type="checkbox" id="switchbutton" onclick="isenabled()" (click)="disableorenableStaff(user.id)">
            <span class="slider round" ></span>
          </label></td>
        <td><button class="btn btn-danger btn-rounded" (click)="deleteUser(user.id)"> Delete User</button></td>
    </tr>
</table>
<script>
    function isenabled(){
        if(user.status=="ENABLED"){
            document.getElementById("switchbutton").checked=true;
        }
        if(user.status=="DISABLED"){
            document.getElementById("switchbutton").checked=false;
        }
    }
</script>