<div class="AdminHeader"><h1>Super Admin</h1><button class="logoutbutton" (click)="redirectToLogin()">Log out</button></div>


<div id="buttonsid">
    <button style="margin-left:20px;" (click)="toggleCreateStaff()">Create Staff</button>
    <button style="margin-left:20px;" (click)="toggleViewStaff()">View Staff</button>
</div>
        <div id="insertformdiv" *ngIf="viewCreateStaff">
            <form [formGroup]="profileForm" (ngSubmit)="create()">
                <div class="imgcontainer">
                    <div class="jumbotron text-center">
                        <div class="container">
                            <h4>
                                <input type="text" style="margin-bottom:20px; height: 50px; width: 550px; position: relative; left: 195px" placeholder="Enter Staff Name" name="name" required formControlName="name">
                                <br>
                                <input type="text" style="margin-bottom:20px; height: 50px; width: 550px; position: relative; left: 195px" placeholder="Enter Staff Username" name="userName" formControlName="userName">
                                <br>
                                <input type="text" style="margin-bottom:20px; height: 50px; width: 550px; position: relative; left: 195px" placeholder="Enter Staff Password" name="password" required formControlName="password">
                                <br>
                                <input type="text" style="margin-bottom:20px; height: 50px; width: 550px; position: relative; left: 195px" placeholder="Confirm Staff Password" name="password1" required formControlName="password1">
                                <br>
                                <button type="submit" style="margin-bottom:20px; height: 40px; width: 400px; position: relative; left: 280px">Create</button>
                                <br>
                            </h4>
                        </div>
                        <div class="jumbotron text-center">
                            <h1 style="color:green">{{ack | uppercase}}</h1>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="viewformdiv" *ngIf="viewViewStaff">
            <table style="position: relative; left: 280px; boder-spacing:10px;" class="table ">
                <tr>
                <th scope="col" >#</th>
                <th>id</th>
                <th>name</th>
                <th>user name</th>
                <th>disable/enable</th>
                </tr>
                <tr *ngFor="let staff of staffs">
                    <th scope="row">#</th>
                    <td>{{ staff.id }}</td>
                    <td>{{ staff.name }}</td>
                    <td>{{ staff.userName }}</td>
                    <td><label class="switch">
                        <input  type="checkbox" class="switchbutton" [(ngModel)]="staff.checked" (ngModelChange)="checkedButton(staff)" (click)="disableorenableStaff(staff.id)">
                        <span class="slider round" ></span>
                    </label></td>
                    
                </tr>
            </table>
        </div>
        <div>footer works!</div>
