.forget{
    border: none;
}
.dashboard{
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: auto;
    height: auto;
    padding: 25px;
}
.header_img {
    padding: 0;
    margin: 0;
    max-width: 10%;
    height: auto; 
}
button{
    margin:5px;
} 