<div class="parent-container">
  <div class="container">
    <div class="header">
      <div class="container" style="border:1px solid #cecece; border-radius: 4px">
        <ul class="nav nav-pills nav-fill">
          <li class="nav-item">
            <a class="nav-link disabled" aria-current="page" href="#">Hey, {{currentCustomer}}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/profile">Profile</a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/accounts">Accounts</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/transfers">Transfers</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/beneficiaries">Beneficiaries</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/statements">View Statements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Logout</a>
          </li>
        </ul>
      </div>
    </div>
    <div class="row; pl-50% mb-4 bg-light rounded-10">
      <div class="col text-center">
        <h1>Add Account</h1>
        <form [formGroup]="profileForm" (ngSubmit)="addAccount()">
          <div class="row">
            <div class="col">
              <select class="form-select" aria-label="Default select example" required formControlName="accountType">
                <option value="" selected disabled>Account Type</option>
                <option value="0">Checking</option>
                <option value="1">Savings</option>

              </select>
            </div>
          </div>

          <br><br>
          <button class="btn btn-primary" data-toggle="modal" data-target="#accountModal">
            Submit
          </button>
        </form>
        <br>
        <div *ngIf="showAdded">
          <h2>Account Added</h2>
        </div>
        <!-- Modal -->
        <div class="modal" id="accountModal" tabindex="-1" role="dialog">
          <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title">Modal title</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <p>Modal body text goes here.</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-primary">Save changes</button>
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
        <br><br>





      </div>
    </div>
  </div>

  <div class="container">
    <div class="row; pl-50% mb-4 bg-light rounded-10">
      <div class="col text-center">
        <h1>List of Accounts</h1>

        <!----->
        <button style="padding: 0; margin: 20px;" (click)="getAllCustomerAccounts()"> show all accounts </button>
                <table class="table" border="1">
                    <tr>
                      <th>Account Number</th>
                      <th>Customer Id</th>
                      <th>Account Type</th>
                      <th>Balance</th>
                    </tr>
                    <tr *ngFor="let customerAccount of customerAccounts">
                      <td>{{ customerAccount.accountNumber }}</td>
                      <td>{{ customerAccount.customerId }}</td>
                      <td>{{ customerAccount.accountType }}</td>
                      <td>{{ customerAccount.accountBalance }}</td>
                    </tr>
                </table>
        
      </div>
    </div>
  </div>
</div>