<div class="container">
    <div class="row; pl-50% mb-4 bg-light rounded-10">
        <div class="mb-3">
            <fieldset disabled>
                <input type="number" class="form-control" id="floatingInput" placeholder="Profile ID: 123">
                <!-- <label for="floatingInput">Profile ID (Immutable)</label> -->
            </fieldset>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Full Name</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Phone Number</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Personal ID Number</label>
        </div>
        <div class="form-floating">
            <input type="image" class="form-control" id="floatingPassword" placeholder="Password">
            <label for="floatingPassword">Upload Personal ID</label>
        </div>
        <div class="form-floating mb-3">
            <input type="radio" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Select security question</label>
        </div>
        <div class="form-floating mb-3">
            <input type="text" class="form-control" id="floatingInput" placeholder="name@example.com">
            <label for="floatingInput">Security question answer</label>
        </div>
        
        <button type="submit" class="btn btn-primary">Save</button>
    </div>
    
</div>
